<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/header.ejs %>
  </head>
  <body>
    <h1>Administration Panel</h1>
    <div class="addsitebutton">
      <a href="/"><button class="btn-warning" method="post" type="button"><i class="fas fa-long-arrow-alt-left"></i> Back to Site</button></a>
      <a href="/add"><button class="btn-primary" method="post" type="button"><i class="fas fa-plus-square"></i> Add Site</button></a>
    </div>

    <% include partials/bookmarkTable.ejs %>
</body>
</html>
