<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/header.ejs %>
  </head>
  <body style="background-color: #00bfff">
    <div id="particle-div">
      <% include partials/bookmarkMainTable.ejs %>
    </div>
  </body>
</html>
