.bookmarkTable {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.bookmarkTable td, .bookmarkTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.bookmarkTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bookmarkTable tr:hover {
  background-color: #ddd;
}

.bookmarkTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3490dc;
  color: white;
}

.bookmarkTable a {
  color: black;
}

.linksPanel {
  width: auto;
  height: auto;
}
